@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(reset.css);

header {
  width: 100%;
  background-color: #fefefe;
}

.header_wrap {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header_inner {
  display: flex;
  position: relative;
  justify-content: space-between;
}

/* == 헤더의 hamburger */
/* *===========================햄버거 메뉴===========================*/
.header_hamburger {
  border: none;
  background: none;
  padding: 18px 0;
}

.header_hamburger svg {
  transition: .2s;

}

.header_hamburger:hover svg {
  color: #aaaaaa;
  cursor: pointer;
}

.header_sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;

  background: #fefefe;
  transition: left .3s ease;

  z-index: 1001;
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, .15);
}

.header_sidebar.open {
  left: 0;
}

/* 일반 메뉴 */

.header_sidebar>a,
.accordion-btn {
  width: 100%;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #666;
  font-size: 15px;
  font-weight: 500;
  background: #fff;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.header_sidebar>a:nth-child(1) {
  padding-top: 30px;
}

.header_sidebar>a:nth-child(4) {
  position: relative;
  margin-bottom: 12px;
}

.header_sidebar>a:nth-child(4)::after {
  content: "";
  display: block;
  background-color: #ddd;
  width: 280px;
  left: 10px;
  bottom: -5px;
  height: 1px;
  position: absolute;
}


.accordion-btn span {
  transform: scale(.67) rotate(0deg);
  transition: transform .25s ease;
}

.accordion-btn.active span {
  transform: scale(.67) rotate(180deg);
}

.header_sidebar>a,
.accordion-btn {
  transition: color .3s, letter-spacing .3s;
}

.accordion-btn.active {
  font-weight: 700;
  color: #444;
  font-size: 13px;
}


.header_sidebar>a:hover,
.accordion-btn:hover {
  font-weight: 700;
  /* 즉시 변경 */
  color: #444;
  letter-spacing: 0.3px;
}

/* ===========================
  아코디언
=========================== */

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background: #fefefe;
  transition: max-height .4s ease;
}

.accordion-content a {
  display: block;
  padding: 5px 40px;
  text-decoration: none;
  font-size: 13px;
  color: #555;
  transition: color .25s ease, transform .25s ease;
  font-weight: 300;
  transition: .2s;
}

.accordion-content a:hover {
  color: #000;
  font-weight: 400;
  transform: scale(1.02);

}

/* 열렸을 때 */

.accordion-item.active .accordion-content {
  max-height: 300px;
}

/* + → - */

.accordion-btn span {
  font-size: 20px;
  transition: transform .3s;
}

.accordion-item.active .accordion-btn span {
  transform: rotate(45deg);

}

/* ===========================
오버레이
=========================== */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .45);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 1000;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* =================================================== */
/* == 헤더의 logo */
.header_logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* == 헤더의 menu */
.header_menu {
  display: flex;
  gap: 30px;
  padding-top: 18px;
}

.header_menu_text {
  display: flex;
  padding-top: 5px;
  gap: 40px;
}

.header_menu_text span {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 400;
  transition:
    color .25s ease,
    transform .25s ease;
  display: inline-block;
  position: relative;
}

.header_menu_text span:hover {
  cursor: pointer;
  color: #111;
  transform: translateY(-2px);
}

.header_menu_text span:nth-of-type(1):after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #ddd;

  position: absolute;
  left: 100px;
  top: 0px;

}

.header .header_menu:hover {
  cursor: pointer;

}

.header_menu_icon svg:hover {
  cursor: pointer;
  color: #c9c9c9;
}

.header_menu_icon {
  display: flex;
  gap: 20px;
}

.header_menu_icon svg {
  transition: .2s;
  color: #666666;
  stroke-width: 1.2;
  width: 24px;
}

/* ======================= banner ======================= */

.banner {
  width: 100%;
  background: url(../img/home_banner_bg.png) center/cover;
  height: 770px;
}

.banner_wrap {
  max-width: 1280px;
  margin: auto;
  height: 100%;
}

.banner_container {
  height: 100px;
  overflow: hidden;
}

/* ====== 배너의 notice ======= */
.banner_container {
  margin: 0;
  box-shadow:
    0 40px 60px rgba(0, 0, 0, 0.35),
    inset 0 20px 30px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);

  width: 100%;
  height: 40px;
  overflow: hidden;
  /* 밖으로 나가면 안 보임 */
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.item {
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 5px;

  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  display: block;
  opacity: 0;
  transform: translateY(40px);
  transition: all .5s ease;
}

.item.active {
  opacity: 1;
  transform: translateY(0);
}

.notice_icon {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.notice_icon svg:hover {
  cursor: pointer;
}

.notice_icon svg {
  color: #fff;
  padding-right: 10px;
  stroke-width: 2;
  scale: 1.3;
}

/* ========== main ============================= */
main {
  width: 100%;
  background-color: #F6F6F6;
}

.main_wrap {
  max-width: 1280px;
  margin: auto;
}

.main_inner {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.main_inner span {
  color: #4c4c4c;
  font-size: 40px;
  font-weight: 700;
}

.main_title {
  padding-left: 60px;
  padding-bottom: 50px;
}

/* ======= image ======= */
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3개씩 */
  gap: 30px;
  max-width: 1160px;
  width: 100%;
  margin: auto;
  position: relative;

}

.images a:nth-child(5) {
  height: 610PX;
  grid-column: 2;
  grid-row: 2;
  margin-top: -130px;
  /* 2번 이미지 아래로 당김 */
}

.images img:nth-child(6) {
  height: 472px;
  background-color: #E8F7FF;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ========== main ============================= */


/* =========================
/* feature  */

.feature {
  background-color: #F6F6F6;
  width: 100%;
  height: 100%;
}

.feature_wrap {
  padding-top: 150px;
  padding-bottom: 150px;
  max-width: 1280px;
  margin: auto;
}

.feature_inner {
  width: 100%;
  max-width: 1190px;
  position: relative;
  margin: auto;
}

/* feature title=============================== */
.feature_title {
  position: relative;
  display: flex;
  padding-left: 90px;
  gap: 15px;
  flex-direction: column;
}

.feature_title span:nth-of-type(1) {
  color: #444;
  font-size: 40px;
  font-weight: 600;
}

.feature_title P::after {
  content: "";
  position: relative;
  background-color: #e2e2e2e2;
  display: block;
  width: 100%;
  top: -40px;
  height: 1px;
}

.feature_title P {
  position: relative;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;

}

.feature_title .btn button:hover {
  cursor: pointer;
}

.feature_title .btn button:hover span:nth-of-type(2) {
  margin-right: 3px;
}

.feature_title .btn button {
  position: absolute;
  right: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 80px;
  border: none;
  background: none;
}

.feature_title .btn button:hover span {
  color: #444;
}

.feature_title .btn button:hover svg {
  color: #444;
}

.feature_title .btn span {
  transition: .2s;
  color: #aaa;
  font-size: 13px;
  font-weight: 300;
}

.feature_title .btn svg {
  transition: .2s;
  color: #aaa;
  margin-left: 5px;
  stroke-width: 1;
}

/* feature slider=============================== */

.swiper {
  margin: auto;
  width: 100%;
  max-width: 1040px;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide span:nth-of-type(1) {
  font-size: 18px;
  font-weight: 700;
  color: #666;
  text-align: left;
  padding: 20px 10px 0;
}

.swiper-slide span:nth-of-type(2) {
  text-align: left;
  padding: 20px 10px 0;
  font-size: 13px;
  font-weight: 300;
  color: #666;
}

.swiper-slide img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}

.swiper-button-prev {
  position: absolute;
  top: 250px;
  left: 0px;
}

.swiper-button-next {
  position: absolute;
  right: 0px;
  top: 250px;
}

.swiper-button-next::after {
  font-size: 20px;
}

.swiper-button-prev::after {
  font-size: 20px;
}

/* =============== feature ========================== */
.campain {
  width: 100%;
  background: url(../img/campain.png) center/cover no-repeat;
  object-fit: contain;
}

.campain_inner {
  height: 550px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: auto;
}

.campain_inner span:nth-of-type(1) {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.campain_inner span:nth-of-type(2) {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.campain_txt {
  display: flex;
  padding-top: 30px;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.campain_txt p:nth-of-type(1) {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}

.campain_txt p:nth-of-type(2) {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

/* ============= tile ======= */
/* ============= .feature2 ========================== */

.feature2 {
  background-color: #F6F6F6;
  width: 100%;
  height: 100%;
}

.feature2_wrap {
  padding-bottom: 150px;
  max-width: 1280px;
  margin: auto;
}


/* feature title2=============================== */
.feature2_title {
  height: 100%;
  padding-top: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.feature2_title span {
  color: #444;
  padding-left: 20px;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
}

.line {
  margin: auto;
  display: block;
  background-color: #e2e2e2;
  width: 100%;
  height: 1px;
}

.feature2_title .btn2 button:hover {
  cursor: pointer;
}

.feature2_title .btn2 button:hover span:nth-of-type(2) {
  margin-right: 3px;
}

.feature2_title .btn2 button {
  border: none;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.feature2_title .btn2 span {
  transition: .2s;
  color: #aaa;
  font-size: 13px;
  font-weight: 300;
}

.feature2_title .btn2 svg {
  transition: .2s;
  color: #aaa;
  stroke-width: 1;
}

.feature2_title .btn2 button:hover span {
  color: #444;
}

.feature2_title .btn2 button:hover svg {
  color: #444;
}

/* ================================== tab ============ */
.tab-menu {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.tab {
  padding: 20px 20px;
  border: none;
  font-weight: 300;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.tab.active {
  color: #666;
  font-weight: 700;
  display: inline-block;
}

.tab.active span::after {
  content: "";
  border-bottom: 3px dotted #6d6d6d;

  display: block;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

/* ======================tab 1============= */
.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  height: 610px;
}

.tab-content #tab1 img {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.tab-content #tab1 {
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.tab-content #tab1 .img1 {
  width: 500px;
  height: 300px;
  object-fit: cover;

}

.tab-content #tab1 .img2 {
  width: 470px;
  height: 300px;
  object-fit: cover;

}

.tab-content #tab1 .img3 {
  width: 300px;
  height: 300px;
  object-fit: cover;

}

.tab-content #tab1 .img4 {
  object-fit: cover;
  width: 400px;
  height: 300px;

}

.tab-content #tab1 .img5 {
  object-fit: cover;
  width: 470px;
  height: 300px;

}

.tab-content #tab1 .img6 {
  width: 400px;
  object-fit: cover;
  height: 300px;

}



/* ======================tab 2============= */

#tab2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  display: inline-block;
  animation: wave 1.2s ease-in-out infinite;
}


#tab2 span:nth-child(1) {
  animation-delay: 0s;
}

#tab2 span:nth-child(2) {
  animation-delay: .1s;
}

#tab2 span:nth-child(3) {
  animation-delay: .2s;
}

#tab2 span:nth-child(4) {
  animation-delay: .3s;
}

#tab2 span:nth-child(5) {
  animation-delay: .4s;
}

#tab2 span:nth-child(6) {
  animation-delay: .5s;
}

#tab2 span:nth-child(7) {
  animation-delay: .6s;
}

#tab2 span:nth-child(8) {
  animation-delay: .7s;
}

#tab2 span:nth-child(9) {
  animation-delay: .8s;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

/* ======================tab 3============= */
#tab3 span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  display: inline-block;
  animation: wave 1.2s ease-in-out infinite;
}


#tab3 span:nth-child(1) {
  animation-delay: 0s;
}

#tab3 span:nth-child(2) {
  animation-delay: .1s;
}

#tab3 span:nth-child(3) {
  animation-delay: .2s;
}

#tab3 span:nth-child(4) {
  animation-delay: .3s;
}

#tab3 span:nth-child(5) {
  animation-delay: .4s;
}

#tab3 span:nth-child(6) {
  animation-delay: .5s;
}

#tab3 span:nth-child(7) {
  animation-delay: .6s;
}

#tab3 span:nth-child(8) {
  animation-delay: .7s;
}

#tab3 span:nth-child(9) {
  animation-delay: .8s;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}


/* =================== 3333333333333333333333================ */

.feature3 {
  background-color: #F6F6F6;
  width: 100%;
  height: 100%;
}

.feature3_wrap {
  padding-top: 150px;
  padding-bottom: 150px;
  max-width: 1280px;
  margin: auto;
}

.feature3_inner {
  display: flex;
  flex-direction: column;
}

/* =============== 안에 컨텐츠 =============== */
.feature3_content_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature3_content_wrap .hash {
  position: absolute;
  left: 470px;
  bottom: 160px;
  background-color: #f1f1f1;
  color: #666;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
}

.feature3_content_wrap .feature3_text {
  color: #666;
  font-size: 20px;
  padding: 20px 20px 0;
}

.feature3_content_wrap .feature3_content {
  display: flex;
  gap: 10px;
}

.feature3_content_wrap .feature3_content1 {
  position: relative;
}

.feature3_content_wrap .feature3_content img {
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 635px;
  height: 300px;
  object-fit: cover;

}

.feature3_content_wrap .feature3_content1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.feature3_content_wrap .feature3_content2 span:nth-of-type(1),
.feature3_content_wrap .feature3_content1 span:nth-of-type(1) {
  color: #666;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

.feature3_content_wrap .feature3_content2 span:nth-of-type(2),
.feature3_content_wrap .feature3_content1 span:nth-of-type(2) {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #666;
  font-size: 20px;
  font-weight: 600;
}

.feature3_content_wrap .feature3_content2 .sub span,
.feature3_content_wrap .feature3_content1 .sub span {
  padding-left: 10px;
  color: #666;
  font-size: 15px;
  font-weight: 400;
}

.feature3_content_wrap .feature3_content1 .sub,
.feature3_content_wrap .feature3_content2 .sub {
  display: flex;
  justify-content: space-between;
}

.feature3_content_wrap .feature3_content2 .sub span:last-child,
.feature3_content_wrap .feature3_content1 .sub span:last-child {
  padding-right: 10px;
}

.feature3_content_wrap .feature3_content2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

/* ==== 4444444444444444444444444========================== */

.feature4 {
  background-color: #F6F6F6;
  width: 100%;
  height: 100%;
}

.feature4_wrap {
  padding-top: 150px;
  padding-bottom: 150px;
  max-width: 1280px;
  margin: auto;
}

.feature4_inner {
  display: flex;
  flex-direction: column;
}

/* ==== 4444444444444444444444444========================== */
.feature4_content {
  display: flex;
  gap: 10px;
  padding-top: 30px;
}



.feature4_content .feature4_image img {
  border: 1px solid #ddd;
  width: 250px;
  border-radius: 5px;
  height: 250px;
}


.feature4_content1 span:first-child {
  color: #444;
  font-size: 16px;
}

.feature4_content1 span:last-child {
  color: #aaa;
  font-size: 12px;
}

.feature4_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature4_text span:nth-of-type(1) {
  font-size: 16px;
  padding-top: 20PX;
  padding-left: 10px;
  color: #444;
}

.feature4_text span:nth-of-type(2) {
  font-size: 12px;
  color: #AAA;
  padding-left: 10px;
}


/* ============================ footer ============================= */

footer {
  width: 100%;
  background-color: #444;
  height: 100%;
}

.footer_wrap {
  max-width: 1280px;
  margin: auto;
}

.footer_inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ================
top
===================  */
.footer_top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

/* ====
left
===== */
.footer_left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_left span:nth-of-type(1) {
  color: #808080;
  font-size: 16px;
  font-weight: 700;
}

.footer_left span:nth-of-type(2) {
  color: #aaa;
  font-size: 13px;
  font-weight: 400;
}

/* ====
right
===== */
.footer_right {
  display: flex;
  gap: 10px;
}

.footer_right svg {
  transform: translateY(10px);
  color: #fefefe;
  font-size: 20px;
}

/* ====
line2
===== */
.line2 {
  width: 100%;
  background-color: #d9d9d9;
  height: 1px;
}

/* ================
bottom
===================  */



/* ============================ footer ============================= */

footer {
  width: 100%;
  background-color: #444;
  height: 100%;
}

.footer_wrap {
  max-width: 1280px;
  margin: auto;

}

.footer_inner {

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ================
top
===================  */
.footer_top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

/* ====
left
===== */
.footer_left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_left span:nth-of-type(1) {
  color: #808080;
  font-size: 16px;
  font-weight: 700;
}

.footer_left span:nth-of-type(2) {
  color: #aaa;
  font-size: 13px;
  font-weight: 400;
}

/* ====
right
===== */
.footer_right svg {
  transform: translateY(10px);
  color: #fefefe;
  font-size: 20px;
}

/* ====
line2
===== */
.line2 {
  width: 100%;
  background-color: #d9d9d9;
  height: 1px;
}

/* ================
bottom
===================  */
.footer_bottom {
  display: flex;
  justify-content: space-between;
}

.accordion-items {
  display: flex;
  gap: 20px;
}

/* ====
text
===== */
.footer_bottom .footer_text {
  text-align: right;
  width:50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.footer_bottom .footer_text .top {
  color: #fafafa;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
}

.footer_bottom .footer_text .top span:nth-of-type(1) {
  font-weight: 600;
}

.footer_bottom .footer_text .middle {
  padding-bottom: 0px;
  color: #d4d4d4;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: flex-end;
  font-size: 11px;
}

.footer_bottom .footer_text .middle span {
  margin-left: 10px;
  margin-top: 10px;
}

.footer_bottom .footer_text .bottom span {
  color: #aaa;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

/* ===========================
Footer Accordion
=========================== */

.footer_accordion {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.footer_accordion-header {
  transition: .2s;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 5px 20px;

  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-size: 11px;
  font-weight: 600;
  color: #444;
}

.footer_accordion-header span:first-child {
  font-size: 11px;
  font-weight: 400;
}

.footer_accordion-header .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: .35s;
}
.footer_accordion-header .icon svg {
  stroke-width: 1.2;
  width: 20px;
  height: 20px;
}

.footer_accordion-content {
  max-height: 0;
  overflow: hidden;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: max-height .4s ease;
  height: 120px;
  border-top: 1px solid #444;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  background-color: #fafafa;
}

.footer_accordion-content p:first-child {
  margin-top: 10px;
}

.footer_accordion-content p {
  margin-left: 15px;
  font-size: 11px;
  color: #444;
  cursor: pointer;
  transition: .3s;
}

.footer_accordion-content p:hover {
  color: #111;
}

.footer_accordion-item.active .footer_accordion-header {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.footer_accordion-item.active .footer_accordion-content {
  max-height: 250px;
  padding-bottom: 20px;
}

.footer_accordion-item.active .icon {
  transform: rotate(180deg);
}